.tk-event-weather__wrapper.template-hourly_horizontal {
	overflow-x: auto;
	white-space: nowrap;
}

.tk-event-weather__wrapper.template-hourly_horizontal .tk-event-weather__dark-sky-credit {
	margin-bottom: 10px;
}