/* hourly_vertical */

.tk-event-weather-template__hourly_vertical {
	line-height: 1;
}

.tk-event-weather-template__hourly_vertical__item > span { /* column width */
	display: inline-block;
	min-width: 40px;
	text-align: center;
}

.tk-event-weather-template__hourly_vertical__item > span:first-child { /* first column's width */
	min-width: 130px;
}

.tk-event-weather-template__hourly_vertical__icon {
  font-size: 2em;
  vertical-align: middle;
}

/* hourly_horizontal */
.tk-event-weather-template__hourly_horizontal__item {
  display: inline-block;
  text-align: center;
  min-width: 60px;
  width: 10%;
}

.tk-event-weather-template__hourly_horizontal__item > span {
  display: block;
}

.tk-event-weather-template__hourly_horizontal__icon {
  font-size: 2em;
  margin: -10px auto;
}
