composer.phar

# From https://github.com/github/gitignore/blob/master/Composer.gitignore
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file https://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock